.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  background-color: #00000080;
  transition: 0.5s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.container:hover .middle {
  opacity: 1;
}
